<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Magic Posts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
    <meta name="theme-color" content="#555c80"/>
    <meta name="description" content="Magic POSTs" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <% if (teams) { %><script>var allTeams = <%- JSON.stringify(teams) %></script><% } %>
    <style>
    
@font-face {
  font-family: 'NATS2-Regular';
  src: url('NATS2-Regular.eot');
  src: url('NATS2-Regular.woff2') format('woff2'),
       url('NATS2-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NATS2';
  src: url('NATS2.woff') format('woff'),
       url('NATS2.ttf') format('truetype'),
       url('NATS2.svg#NATS') format('svg');
  font-weight: normal;
  font-style: normal;
}
      </style>
  </head>
  <body>
    <main id="root"></main>
    <footer></footer>
    <script src="bundle.js"></script>
  </body>
</html>